  .wrapper {
      width: 50%;
     
  }
  .column {
    float: left;
    width: 20%;
    margin: 20px 1.15%;
    height: 50px;
    background-color: #B2D6FF; 
    overflow: hidden;
}
.list {
    display: flex;
    flex-wrap: wrap;
}

.second {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: row wrap;
    align-content: space-around;
    align-items: stretch;
    width: 20%;
    margin: 20px 1.15%;
    height: 50px;
    background-color: rgb(255, 202, 178); 
    

}